/*!
 * Copyright 2019 JOSE RUI SUMNER BORDA HURTADO
 * GNU General Public License v3.0 (https://github.com/ruiborda/cincit_pagina/blob/master/LICENSE)
 */
@font-face {
    font-family: Open Sans;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../font/OpenSans.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}
@font-face {
    font-family: Tangerine;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Tangerine Regular"), local("Tangerine-Regular"), url(../font/Tangerine.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}
@font-face {
    font-family: Mrs Sheppards;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Mrs Sheppards Regular"), local("MrsSheppards-Regular"), url(../font/MrsSheppards.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}
@font-face {
    font-family: Roboto;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(../font/Roboto.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}
@font-face {
    font-family: cincit2019;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(../font/cincit2019.ttf);
    unicode-range: U+f000-f014
}
body {
    font-size: 1rem;
    font-family: cincit2019, Roboto;
    position: relative;
    z-index: 1
}
nav#menu {
    width: 100%;
    height: 55px;
    position: fixed;
    box-shadow: 0 .1rem 1rem grey;
    z-index: 4;
    background-color: #f0f2f1
}
nav#menu div div {
    position: absolute;
    z-index: 5
}
nav#menu div ul {
    right: 0;
    position: absolute;
    z-index: 4;
    padding-left: 20px;
    list-style-type: none;
    width: 1094px;
    float: right
}
nav#menu div ul li {
    list-style-type: none;
    float: left
}
nav#menu div div {
    display: inline-block;
    float: left;
    background-color: #f0f2f1;
    height: 55px
}
nav#menu div a {
    height: 55px;
    border: none;
    padding: 17px 32px;
    text-decoration: none;
    color: #353b48;
    letter-spacing: 2px;
    cursor: pointer
}
nav#menu div div button {
    display: none;
    font-family: Cincit2019;
    width: 70px
}
nav#menu a.navbar-brand {
    width: 260px;
    float: left;
    font-weight: 100;
    color: #424242
}
nav#menu a.item {
    float: right
}
nav#menu div div a:hover, nav#menu div li a:hover {
    box-shadow: 0 .1rem 1rem grey
}
nav#menu div div a.active, nav#menu div div a:hover, nav#menu div li a.active, nav#menu div li a:hover {
    background: linear-gradient(90deg, #63b8d4 0, #008cba);
    color: #fff;
    border: none
}
#navbar a {
    font-size: 14px
}
main#principal {
    padding-top: 55px;
    height: auto;
    z-index: 3
}
main#principal, section#INICIO {
    display: block;
    position: relative;
    width: 100%
}
section#INICIO {
    height: 94vh
}
section#ponentes {
    display: block;
    position: relative;
    width: 100%;
    background-color: #f5f7fa
}
section>h2 {
    font-family: cincit2019, Roboto;
    font-size: 3vmax;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 25px;
    width: 100%;
    color: #192c48;
    text-align: center
}
section {
    padding-top: 55px;
    background-color: #f5f7fa
}
.hero-text {
    text-align: center;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px
}
.hero-text h1 {
    font-size: 100px
}
#fechacongreso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
#fechacongreso>div {
    width: 5vw;
    margin: 20px;
    font-family: Roboto;
    font-size: 2.5vw
}
div.textfecha {
    font-size: 15px
}
#mascara {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    bottom: 0
}
.borde>div {
    background: linear-gradient(150deg, #5a7b87 20%, #4a5d64 80%);
    height: 80px;
    box-shadow: 0 10px 10px #1d2225
}
footer {
    position: fixed;
    background-color: #282f33;
    height: 100vh;
    width: 100%;
    z-index: 2;
    bottom: 0
}
footer h2 {
    color: #fff;
    font-weight: 400;
    margin-top: 110px;
    margin-bottom: 55px;
    text-align: center;
    font-size: 5vw
}
footer aside {
    padding: 0;
    margin: 0;
    width: 350px
}
footer a {
    display: block;
    height: 48px;
    color: #dcddde;
    font-size: 15px
}
footer a:hover {
    color: #fff;
    font-size: 15px
}
footer aside h3 {
    padding-bottom: 20px;
    color: #dcddde;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #3e4950
}
footer aside p {
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 20px;
    color: #888
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
a {
    text-decoration: none
}
.contenedorPadreTarjetas {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    display: flex;
    flex-direction: row
}
.contenedor_tarjeta {
    margin: 0 50px 50px;
    position: relative;
    animation: girotres 5s infinite;
    animation-timing-function: linear
}
.contenedor_tarjeta:nth-child(2n) {
    animation: girouno 20s linear infinite
}
.contenedor_tarjeta:nth-child(odd) {
    animation: girodos 20s linear infinite
}
.contenedor_tarjeta:hover {
    animation: none
}
.contenedor_tarjeta div {
    display: inline-block;
}
.contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3);
}
figure {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all .5s ease;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    border-radius: 5px;
    border: none
}
figure .frontal, figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all .5s ease
}
figure .frontal {
    display: block;
    background: #000
}
figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto
}
.contenedor_tarjeta:nth-child(5) figure .trasera {
    background: rgba(223, 234, 241, .7);
    background: linear-gradient(180deg, rgba(223, 234, 241, .7) 0, #0f6390)
}
.contenedor_tarjeta figure .trasera {
    background: rgba(251, 232, 202, .7);
    background: linear-gradient(180deg, rgba(251, 232, 202, .7) 0, #192c48)
}
.contenedor_tarjeta figure #peru, .contenedor_tarjeta figure #suiza {
    background: rgba(95, 58, 53, .7);
    background: linear-gradient(180deg, rgba(95, 58, 53, .7) 0, #dd202f)
}
.contenedor_tarjeta figure #brasil {
    background: linear-gradient(180deg, rgba(255, 218, 68, .7) 0, #6da544)
}
.contenedor_tarjeta figure #holanda {
    background: linear-gradient(180deg, rgba(162, 0, 29, .7) 0, hsla(0, 0%, 78.4%, .7) 50%, #0052b4)
}
.contenedor_tarjeta figure #mexico {
    background: linear-gradient(90deg, rgba(109, 165, 68, .7) 0, hsla(0, 0%, 78.4%, .7) 50%, rgba(162, 0, 29, .7))
}
figure .trasera .titulo {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    text-align: center
}
figure .trasera hr {
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    margin-top: 0;
    opacity: .5
}
figure .trasera p {
    font-family: Open Sans, sans-serif;
    line-height: 22px;
    font-size: 14px
}
@media screen and (max-width:992px) {
    figure .trasera {
        position: relative;
        backface-visibility: visible;
        transform: perspective(600px) rotateY(0deg)
    }
    figure .frontal {
        border-radius: 5px 5px 0 0
    }
    figure .trasera {
        border-radius: 0 0 5px 5px
    }
    .contenedor_tarjeta:hover figure {
        transform: perspective(600px) rotateY(0deg)
    }
    #fechacongreso>div {
        width: 90px;
        margin: 5px;
        font-family: Roboto;
        font-size: 3vw
    }
    div.textfecha {
        font-size: 10px
    }
}
@media screen and (max-width:600px) {
    .hero-text h1 {
        font-size: 60px
    }
    nav#menu div ul {
        width: 260px
    }
    #fechacongreso>div {
        width: 50px;
        font-size: 3vw
    }
    div.textfecha {
        font-size: 10px
    }
}
.talleres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Open Sans, cincit2019
}
.talleres .card {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: .3s;
    width: 250px;
    background-color: #fff
}
.talleres .card:nth-child(2n) {
    animation: girouno 20s linear infinite
}
.talleres .card:nth-child(odd) {
    animation: girodos 20s linear infinite
}
.talleres .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3)
}
.talleres .container {
    padding: 2px 16px
}
.precios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Open Sans, cincit2019
}
.precios .card {
    float: left;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: .3s;
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border-top: 8px solid #438c7d
}
.precios .card h3 {
    font-family: Open Sans;
    letter-spacing: 2px;
    margin-top: 10px
}
.precios .card span:nth-child(2) {
    font-size: 10px
}
.precios .card span:nth-child(3) {
    display: block;
    font-size: 50px;
    margin: 15px 0
}
.precios .card span:nth-child(4), .precios .card span:nth-child(6), .precios .card span:nth-child(8) {
    font-size: 12px
}
.precios .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3)
}
.precios .container {
    padding: 20px
}
.precios .button {
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    transition: all .5s;
    cursor: pointer;
    margin: 5px
}
.precios .card hr {
    margin-bottom: 20px;
    margin-top: 10px
}
.precios .card span b {
    font-size: 15px
}
.precios .card:first-child {
    border-top: 8px solid #438c7d
}
.precios .card:nth-child(2) {
    border-top: 8px solid #6795fe
}
.precios .card:nth-child(3) {
    border-top: 8px solid #aa5fe6
}
.precios .card:first-child button {
    background-color: #438c7d
}
.precios .card:nth-child(2) button {
    background-color: #6795fe
}
.precios .card:nth-child(3) button {
    background-color: #aa5fe6
}
.precios .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s
}
.precios .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s
}
.precios .button:hover span {
    padding-right: 25px
}
.precios .button:hover span:after {
    opacity: 1;
    right: 0
}
@keyframes girouno {
    0% {
        transform: rotate(-2deg)
    }
    50% {
        transform: rotate(2deg)
    }
    to {
        transform: rotate(-2deg)
    }
}
@keyframes girodos {
    0% {
        transform: rotate(2deg)
    }
    50% {
        transform: rotate(-2deg)
    }
    to {
        transform: rotate(2deg)
    }
}
@keyframes girotres {
    0% {
        transform: translateY(5px)
    }
    50% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}
.concurso h3 {
    font-size: 40px;
    font-family: Tangerine;
    color: #343a40
}
.concurso time {
    font-size: 14px
}
.concurso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.concurso .card {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    margin: 0 50px 80px;
    padding: 10px;
    text-align: center;
    transition: .3s;
    width: 400px;
    background-color: #fff
}
.concurso .card:nth-child(2n) {
    animation: girouno 20s linear infinite
}
.concurso .card:nth-child(odd) {
    animation: girodos 20s linear infinite
}
.concurso .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .3)
}
.concurso .container {
    padding: 20px 16px;
    font-family: Open Sans
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Open Sans, cincit2019
}
.about .card {
    float: left;
    margin: 10px;
    padding: 10px;
    transition: .3s
}
.about .container {
    padding: 2px 16px
}
.icon-bar {
    position: fixed;
    z-index: 4;
    bottom: 55px
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all .3s ease;
    color: #fff;
    font-size: 18px
}
.icon-bar a:hover {
    background-color: #000
}
.icon-bar .facebook {
    background: #3b5998;
    color: #fff
}
.icon-bar .twitter {
    background: #55acee;
    color: #fff
}
.icon-bar .whatsapp {
    background: #4dc247;
    color: #fff
}
.icon-bar .youtube {
    background: #b00;
    color: #fff
}
@media screen and (max-width:1350px) {
    .icon-bar {
        position: fixed;
        z-index: 4;
        bottom: 0
    }
    .icon-bar a {
        display: inline-block;
        float: left;
        width: 50px;
        height: 50px;
        margin: 0
    }
    nav#menu div ul {
        display: none
    }
    nav#menu div div {
        display: block;
        text-align: center;
        width: 100%
    }
    nav#menu div div, nav#menu div ul {
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .3)
    }
    nav#menu div ul {
        width: 260px;
        left: 0;
        top: 55px;
        height: 335px;
        background-color: #f0f2f1;
        padding: 0 10px 10px
    }
    nav#menu div ul li {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center
    }
    nav#menu div ul li a {
        display: inline-block;
        list-style-type: none;
        width: 100%;
        padding: 16px 32px;
        text-align: left;
        text-decoration: none;
        font-size: 16px;
        margin: 10px 0 0;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        cursor: pointer;
        background-color: #f0f2f4;
        color: #000;
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .1);
        border: none
    }
    a.navbar-brand {
        width: 60%;
        text-align: left
    }
    nav#menu div li a.active {
        background: linear-gradient(90deg, #9fd2e3 0, #63b8d4 83%);
        color: #fff;
        display: block;
        padding: 20px 32px;
        box-shadow: 0 .5rem 1rem #9fd2e3
    }
    nav#menu div div button {
        display: block;
        float: right;
        width: 46px;
        height: 55px;
        border: none;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        cursor: pointer;
        background-color: #f0f2f4;
        color: #000
    }
    nav#menu div div button:active, nav#menu div div button:hover {
        background: linear-gradient(90deg, #63b8d4 0, #008cba 83%);
        color: #fff;
        outline-color: #007399
    }
    nav#menu div div button:active {
        box-shadow: 0 5px #666;
        transform: translateY(7px);
        box-shadow: 0 .5rem 1rem #9fd2e3
    }
    nav#menu div div, nav#menu div ul {
        position: absolute
    }
    .borde div {
        background: linear-gradient(150deg, #5a7b87 20%, #4a5d64 80%);
        height: 80px;
        box-shadow: 0 10px 10px #1d2225
    }
    footer h2 {
        font-size: 10vw
    }
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    visibility: visible
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
#cronograma {
    background: linear-gradient(150deg, #5a7b87 20%, #4a5d64 80%)
}
#cronograma>h2 {
    color: #fff
}
#cronograma .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto
}
#cronograma .timeline:after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px
}
#cronograma .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%
}
#cronograma .container:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #4a5d64;
    top: 15px;
    border-radius: 50%;
    z-index: 1
}
#cronograma .left {
    left: 0
}
#cronograma .right {
    left: 50%
}
#cronograma .left:before {
    right: 30px;
    border: solid transparent;
    border-left: solid #fff;
    border-width: 10px 0 10px 10px
}
#cronograma .left:before, #cronograma .right:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1
}
#cronograma .right:before {
    left: 30px;
    border: solid transparent;
    border-right: solid #fff;
    border-width: 10px 10px 10px 0
}
#cronograma .right:after {
    left: -16px
}
#cronograma .content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px
}
@media screen and (max-width:600px) {
    #cronograma .timeline:after {
        left: 31px
    }
    #cronograma .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px
    }
    #cronograma .container:before {
        left: 60px;
        border: solid transparent;
        border-right: solid #fff;
        border-width: 10px 10px 10px 0
    }
    #cronograma .left:after, #cronograma .right:after {
        left: 15px
    }
    #cronograma .right {
        left: 0
    }
}
#map {
    height: 90vh
}
.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s;
    border-radius: 10px
}
@-webkit-keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: 700
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}
.modal-header {
    padding: 2px 16px;
    background: linear-gradient(150deg, #5a7b87 20%, #4a5d64 80%);
    color: #fff;
    border-radius: 9px 9px 0 0
}
.modal-footer {
    padding: 2px 16px;
    background: linear-gradient(150deg, #5a7b87 20%, #4a5d64 80%);
    color: #fff;
    border-radius: 0 0 9px 9px
}
input[type=date], input[type=number], input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    letter-spacing: 2px
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block
}
input[type=submit] {
    background: linear-gradient(90deg, #63b8d4 0, #008cba 83%);
    color: #fff;
    outline-color: #007399;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right
}
input[type=submit]:hover {
    background-color: #45a049
}
form {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Roboto
}
.col-25 {
    width: 25%;
    letter-spacing: 1px
}
.col-25, .col-75 {
    float: left;
    margin-top: 6px
}
.col-75 {
    width: 75%
}
.row:after {
    content: "";
    display: table;
    clear: both
}
@media screen and (max-width:600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0
    }
}
section#INICIO {
    background-image: url("http://localhost/cincit/cincit03/img/epis.webp");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center center;
    animation: imganimation 10s infinite linear;
}
@keyframes imganimation {
    0% {
        background-position: center center;
    }
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: center center;
    }
    75% {
        background-position: right;
        top;
    }
    100% {
        background-position: center center;
    }
}
